**
!.vscode
!.vscode/settings.json
!img
!img/Powerint_DOS_386.img
!include
!include/**
!libs/
!libs/**
!src
!src/**
!.gitignore
!Cargo.toml
!Makefile
!README.md
!LICENSE
!.gitmodules
!libc
!libc/**
!prtl
!prtl/**