**
!.vscode
!.vscode/settings.json
!img
!img/Powerint_DOS_386.img
!include
!include/**
!libs/
!libs/**
!src
!src/**
!.gitignore
!Cargo.toml
!i686-unknown-plantos.json
!Makefile
!README.md
!run.sh
!LICENSE
!.gitmodules
!libc
!libc/**
!alloc
!alloc/**